<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>navi_back_icon</key>
	<string></string>
	<key>navi_back_icon_white</key>
	<string></string>
	<key>navi_title_color</key>
	<string></string>
	<key>navi_title_font</key>
	<integer>120</integer>
	<key>theme_color</key>
	<string>252,46,53</string>
	<key>theme_color2</key>
	<string>146,219,221</string>
</dict>
</plist>
